# Ignore specific files
undetected_sel.py
linkedin_data.db
linkedin_urls.txt

# Chromedriver - ensure these are at the top of the file
chromedriver
chromedriver.exe
**/chromedriver
**/chromedriver.exe

# Ignore all .txt files
*.txt

# But don't ignore requirements.txt
!requirements.txt

# Python-related files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.env

# Database
*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Output files (optional, depending on your needs)
# reports/
# *.csv
# *.html

# Log files
*.logs

# Temporary files
*.tmp

# Compiled Python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore HTML files
*.html

# Ignore the reports directory
/reports/
